<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis" version="1.3.0" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.3.0" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.3.0" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="1.3.0" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="1.3.0" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="1.3.0" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="1.3.0" targetFramework="net452" />
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net45" />
  <package id="Microsoft.DotNet.Cli.Utils" version="1.0.0-preview2-003121" targetFramework="net452" />
  <package id="Microsoft.DotNet.Compiler.Common" version="1.0.0-preview2-003121" targetFramework="net452" />
  <package id="Microsoft.DotNet.Files" version="1.0.0-preview2-003121" targetFramework="net452" />
  <package id="Microsoft.DotNet.InternalAbstractions" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.DotNet.ProjectModel" version="1.0.0-rc3-003121" targetFramework="net452" />
  <package id="Microsoft.DotNet.ProjectModel.Workspaces" version="1.0.0-preview2-003121" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyModel" version="1.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NuGet.Common" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.Configuration" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.DependencyResolver.Core" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.Frameworks" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.LibraryModel" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.Packaging" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.Packaging.Core" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.Packaging.Core.Types" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.ProjectModel" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.Protocol.Core.Types" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.Protocol.Core.v3" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.Repositories" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.RuntimeModel" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.Versioning" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="net452" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net452" />
  <package id="System.Reflection.Metadata" version="1.3.0" targetFramework="net452" />
</packages>